<%= erb :nav %>
<section class="intro-section">
  <div class="container">
<h1>Edit Bike Project</h1>

<form action="/projects/<%= @project.id %>" method="POST">
  <input type="hidden" id="hidden" name="_method" value="PATCH">

  <input type="text" class="form-control" name="title" value="<%= @project.title %>">
  <input type="text" class="form-control" name="budget" value="<%= @project.budget %>">

  <input type="submit" class="btn btn-primary" value="submit" id="submit">
</form>
</div>
</section>
